@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  /* border: 1px solid green; */
  /* background: black; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(to right, #ffffff 0%, #b5b5b5 50%, #898989 100%); */
  /* background: rgb(136, 197, 136); */
  /* background: linear-gradient(to right, #151514, #151514); */
  /* background: linear-gradient(to right, rgb(22, 21, 21), black); */
  /* background: linear-gradient(to bottom, #ffffff 0%, #d5d5d5 50%, #e0e0e0 100%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "EB Garamond", serif;
}

.main-container {
  width: 100vw;
}

.navbar-element {
  top: 0;
  position: sticky;
}

.navbar {
  width: 100%;
  align-items: flex-end;
  flex-direction: row;
  height: 50px;

  border-bottom: 1.5px solid black;
  background: white;
}

.home-btn {
  align-self: flex-start;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.jw {
  cursor: pointer;
}

.content-headings {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
  margin-left: -40px;
  padding-bottom: 5px;
}

.content-headings h5 {
  border: 1px solid green;
}

.frontend-btn {
  /* border-right: 1px solid rgb(77, 77, 228); */
  padding-right: 15px;
}

.copywriting-btn {
}

.site-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: flex-end;
  padding-bottom: 5px;
}

.linkedIn-btn {
  text-decoration: none;
}

.linkedIn-link {
  /* text-decoration: none; */
  color: black;
}

.github-link {
  /* text-decoration: none; */
  color: black;
}

/* Beginning of Header */

.header-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  align-self: center;
}

.intro-text {
  text-align: left;
  font-weight: 400;
  line-height: 1.8;
  font-size: 23px;
}

.i-like-text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.prof-pic-img {
  width: 25%;
  height: auto;
  margin-bottom: 50px;
  /* padding: none; */
  /* justify-self: flex-start; */
  /* border: 1px solid black; */
}

.bio {
  /* font-size: 17px; */
  font-size: 1.2rem;
  text-align: left;
  width: 720px;
}

/* Start of Frontend  */

.projects {
  /* margin-bottom: 100px; */
}

.projects-heading {
  text-align: left;
  font-family: "EB Garamond", serif;
  margin-bottom: 50px;
}
/* 
.projects {
  align-items: center;
  background-color: white;
} */

.hero-app {
  justify-content: space-between;
  align-items: center;
}

.hero-app-heading {
  margin-left: 0%;
  align-items: center;
  font-size: 35px;
  margin-bottom: 80px;
}

.hero-app-desc {
  text-align: left;
  width: 200px;
}

.hero-app-link {
  color: black;
}

.hero-app-visual {
  /* width: 200px; */
}

.hero-app-vid {
  width: 500px;
}

/* Beginning of About Me */

.about-me-heading {
  text-align: left;
  font-family: "EB Garamond", serif;
}

.technologies {
  /* margin-top: 100px; */
  margin-bottom: 50px;
  align-items: center;
}

.tech-heading {
  border-left: 2px solid black;
  margin-left: 60px;
}

.tech-list {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  list-style-type: none;
  text-align: left;
  margin-left: -35px;
}

.skills {
  align-items: center;
  margin-bottom: 50px;
}

.skills-heading {
  border-left: 2px solid black;
  margin-left: 60px;
}

.skills-list {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  list-style-type: none;
  text-align: left;
  margin-left: -35px;
}

.experience {
  align-items: center;
  margin-bottom: 50px;
}

.exp-heading {
  border-left: 2px solid black;
  margin-left: 60px;
}

.exp-list {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  list-style-type: none;
  text-align: left;
  margin-left: -35px;
}

.education {
  align-items: center;
  margin-bottom: 50px;
}

.edu-heading {
  border-left: 2px solid black;
  margin-left: 60px;
}

.edu-list {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  list-style-type: none;
  text-align: left;
  margin-left: -35px;
}

/* Beginning of Main */

.main {
  /* background: whitesmoke; */
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0 2px 0.5px rgb(0, 0, 0); */
  border-radius: 2%;
  justify-content: center;
  background-color: white;
  /* background: black; */
}

.tech-and-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background: linear-gradient(to right, #ffffff 0%, #b5b5b5 50%, #898989 100%); */
}

.hero-desc-text {
  font-family: "EB Garamond", serif;
  font-size: 20px;
}

/* .technologies {
} */

/* .technologies {
  text-align: left;
  box-shadow: 0 0 2px 0.5px rgb(0, 0, 0);
  border-radius: 2%;
  padding: 10px;

  margin-right: 10px;
  box-shadow: 0 0 2px 0.5px rgb(0, 0, 0);
  box-shadow: 0 0 3px 0.2px rgb(0, 32, 118);
  background: linear-gradient(to right, #d1c4c4, #0000ff);

  border-radius: 2%;
  background: white;
} */

/* .skills { */
/* text-align: left;
  padding: 10px;
  box-shadow: 0 0 3px 0.2px rgb(0, 32, 118); */
/* box-shadow: 0 0 2px 0.5px rgb(0, 0, 0) none none none; */
/* border-radius: 2%; */
/* border-radius: 5px; */

/* background-color: white; */
/* height: fit-content; */
/* background: linear-gradient(to right, #ffffff 0%, #b5b5b5 50%, #898989 100%); */
/* background: linear-gradient(to right, #ffffff 0%, #b5b5b5 50%, #898989 100%); */
/* } */

.work-experience {
  text-align: left;
  box-shadow: 0 0 3px 0.2px rgb(0, 32, 118);

  /* box-shadow: 0 0 2px 0.3px rgb(0, 0, 0); */
  border-radius: 5px;
  padding: 10px;
  background: white;
}

/* .education {
  margin-top: 10px;
  text-align: left;
  box-shadow: 0 0 2px 0.5px rgb(0, 0, 0);
  box-shadow: 0 0 3px 0.2px rgb(0, 32, 118);

  border-radius: 5px;
  padding: 10px;
  background: white;
} */

li {
  padding-bottom: 5px;
}
